;; Uncomment the modules you want to use.
;; This file will be automatically copied to features.el on first run if it doesn't exist.

(require 'my-ai)
(require 'my-git)
;; (require 'my-clojure)
;; Add more module requires here...
